@import "../node_modules/bootstrap/scss/bootstrap";


// dark mode colors

// dark green 
// $col1:#93B1A6;
// $col2:#5C8374;
// $col3:#183D3D;
// $col4:#040D12;

// dark yellow
// $col1:#EEEEEE;
// $col2:#FFD369;
// $col3:#393E46;
// $col4:#222831;

// dark gold
// $col1:#C69749;
// $col2:#735F32;
// $col3:#282A3A;
// $col4:#000000;

// calm monochrome violet
// $col1:#635985;
// $col2:#443C68;
// $col3:#393053;
// $col4:#18122B;

// warm brown
// $col1:#E0C097;
// $col2:#B85C38;
// $col3:#5C3D2E;
// $col4:#2D2424;

// blue grey
// $col1:#EEEEEE;
// $col2:#76ABAE;
// $col3:#31363F;
// $col4:#222831;

// cream green
$col1:#DCD7C9;
$col2:#A27B5C;
$col3:#3F4E4F;
$col4:#2C3639;


//light mode colors

// sky blue
// $colight1:#112D4E ;
// $colight2:#3F72AF;
// $colight3:#DBE2EF;
// $colight4:#F9F7F7;

// cream 
// $colight1:#113946 ;
// $colight2:#BCA37F;
// $colight3:#EAD7BB;
// $colight4:#FFF2D8;

// cloudy green
$colight1:#627254;
$colight2:#76885B;
$colight3:#DDDDDD;
$colight4:#EEEEEE;

// cream grey
// $colight1:#B4B4B8;
// $colight2:#C7C8CC;
// $colight3:#E3E1D9;
// $colight4:#F2EFE5;

// light violet
// $colight1:#424874;
// $colight2:#A6B1E1;
// $colight3:#DCD6F7;
// $colight4:#F4EEFF;

// ceam green
// $colight1:#576F72;
// $colight2:#7D9D9C;
// $colight3:#E4DCCF;
// $colight4:#F0EBE3;

$primary: #F0ECE5;
$secondary: #B6BBC4;



  
  
/*   .dark {
  
  
      $body-color: #eeeeee;
      $body-bg: $col4;
      
      
      --#{$variable-prefix}body-color: #{$body-color};
      --#{$variable-prefix}body-bg: #{$body-bg};
        
  }
  .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(#{to-rgb($col3)}, var(--bs-bg-opacity)) !important;
} */

[data-bs-theme=dark] {

    $theme-colors: (
        "primary":    $col1,
        "secondary":  $col2,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
      );
      
      @each $color, $value in $theme-colors {
          .btn-#{$color} {
            @include button-variant($value, $value);
          }
        }
        
        @each $color, $value in $theme-colors {
          .btn-outline-#{$color} {
            @include button-outline-variant($value);
          }
        }

    .form-check-input:checked {
            background-color: #{$col4};
            border-color: #{$col4};
        }
    .accordion-button:not(.collapsed) {
            color: #{$col1};
            background-color:#{$col2} ;
        }
    color-scheme: dark;
    --bs-body-bg: #{$col4};
    --bs-body-bg-rgb: #{to-rgb($col4)};
    --bs-secondary-bg: #{$col3};
    --bs-secondary-bg-rgb: #{to-rgb($col3)};
    --bs-tertiary-bg: #{$col2};
    --bs-tertiary-bg-rgb: #{to-rgb($col2)};
}

[data-bs-theme=light] {
    $theme-colors: (
        "primary":    $colight1,
        "secondary":  $colight2,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
      );
      
      @each $color, $value in $theme-colors {
          .btn-#{$color} {
            @include button-variant($value, $value);
          }
        }
        
        @each $color, $value in $theme-colors {
          .btn-outline-#{$color} {
            @include button-outline-variant($value);
          }
        }

        .accordion-button:not(.collapsed) {
            color: #{$colight4};
            background-color:#{$colight2} ;
        }
        
    --bs-body-bg: #{$colight4};
    --bs-body-bg-rgb: #{to-rgb($colight4)};
    --bs-secondary-bg: #{$colight3};
    --bs-secondary-bg-rgb: #{to-rgb($colight3)};
    --bs-tertiary-bg: #{$colight2};
    --bs-tertiary-bg-rgb: #{to-rgb($colight2)};
}